@{
	ViewData["Title"] = "Index";
}
@model Web_Diplom.Models.AppointmentFormViewModel;

<div class="home-slider owl-carousel">
	<div class="slider-item" style="background-image: url(/images/bg_1.jpg);">
		<div class="container">
			<div class="row slider-text align-items-center">
				<div class="col-md-6">
					<div class="slider-content bg-white-opacity rounded p-3">
						<h1 class="text-dark">ПРОФЕССИОНАЛЬНЫЙ РЕМОНТ ВАШЕГО АВТОМОБИЛЯ</h1>
						<p class="text-dark"><a href="#link" class="btn btn-primary">Узнать больше</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="slider-item" style="background-image: url('/images/bg_2.jpg');">
		<div class="container">
			<div class="row slider-text align-items-center">
				<div class="col-md-6 ">
					<div class="slider-content bg-white-opacity rounded p-3">
						<h1 class="text-dark">Пора приезжать ремонтировать свой автомобиль</h1>
						<p class="text-dark"><a href="#link" class="btn btn-primary">Записаться на прием</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center pb-5 ">
			<div class="heading-section text-center ">
				<span class="subheading">МЫ ПРЕДЛАГАЕМ УСЛУГИ</span>
				<h2>Наши автосервисы</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 services ">
				<div class="d-flex">
					<div class="icon d-flex justify-content-center align-items-center">
						<span class="flaticon-car-service"></span>
					</div>
					<div class="media-body pl-3">
						<h3>Замена масла</h3>
						<p>
							Одна из самых важных процедур для поддержания работоспособности и
							долговечности двигателя автомобиля.
						</p>
					</div>
				</div>
				<div class="d-flex">
					<div class="icon d-flex justify-content-center align-items-center">
						<span class="flaticon-tyre"></span>
					</div>
					<div class="media-body pl-3">
						<h3>Замена шин</h3>
						<p>
							Замена шин - важный этап технического обслуживания автомобиля. Помимо безопасности на
							дороге, правильно подобранные шины помогут улучшить
							управляемость автомобиля.
						</p>
					</div>
				</div>

			</div>
			<div class="col-md-4 services ">
				<div class="d-flex">
					<div class="icon d-flex justify-content-center align-items-center">
						<span class="flaticon-car-engine"></span>
					</div>
					<div class="media-body pl-3">
						<h3>Ремонт двигатель</h3>
						<p>
							Наш сервис осуществляет качественный и надежный ремонт двигателя всех марок автомобилей.
						</p>
					</div>
				</div>
				<div class="d-flex">
					<div class="icon d-flex justify-content-center align-items-center">
						<span class="flaticon-battery"></span>
					</div>
					<div class="media-body pl-3">
						<h3>Замена аккумулятора</h3>
						<p>
							Наш сервис поможет подобрать и установить качественный аккумулятор, чтобы ваш автомобиль
							всегда был готов к поездке.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4 services ">
				<div class="d-flex">
					<div class="icon d-flex justify-content-center align-items-center">
						<span class="flaticon-tow-truck"></span>
					</div>
					<div class="media-body pl-3">
						<h3>Эвакуатор</h3>
						<p>
							Услуга эвакуатора поможет вам быстро и безопасно доставить автомобиль в наш сервис для
							дальнейшего ремонта.
						</p>
					</div>
				</div>
				<div class="d-flex">
					<div class="icon d-flex justify-content-center align-items-center">
						<span class="flaticon-repair"></span>
					</div>
					<div class="media-body pl-3">
						<h3>Ремонт электроники</h3>
						<p>
							Проблема с электроникой, то важно обратиться к специалистам, которые быстро и точно
							определят неисправность и произведут ремонт.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="d-flex">
			<div class="col-md-6 d-flex">
				<div class="img d-flex align-items-center justify-content-center"
					 style="background-image:url(/images/about.jpg);">
					<a href="https://vimeo.com/45830194"
					   class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
						<span class="fa fa-play"></span>
					</a>
				</div>
			</div>
			<div class="pl-md-5">
				<div class="py-5">
					<div class="heading-section ">
						<span class="subheading">Добро пожаловать в Ritmichniy.INC</span>
						<h2>Производим качественный ремонт.</h2>
						<p>
							Использование высокоэффективных материалов, лаков, красок «Du Pont», покрасочной камеры,
							профессионального стапеля и современного оборудования позволяет нам соответствовать всем
							нынешним стандартам авторемонта любой сложности. Высокий уровень профессионализма и опыт
							мастеров позволяют нам быстро и качественно выполнять все требования и желания наших
							клиентов. Все специалисты нашего тех.центра прошли профессиональную подготовку.
						</p>
						<div class="tabulation-2 mt-4">
							<ul class="nav nav-pills nav-fill d-md-flex align-content-center">
								<li class="nav-item">
									<span class="nav-link active">Наша миссия</span>
								</li>

							</ul>
							<div class="tab-content">
								<div class="tab-pane fade show active">
									<p>Обеспечить безопасность и комфорт наших клиентов на дорогах, предоставляя качественные услуги по ремонту и обслуживанию автомобилей. Мы стремимся быть надежным и доверенным партнером для наших клиентов.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-counter">
</section>

<section class="ftco-appointment" style="background-image: url(/images/bg_3.jpg);">
	<div class="overlay" id="link"></div>
	<div class="container">
		<div class="d-md-flex justify-content-end">
			<div class="col-lg-6 py-5  heading-section">
				<span class="subheading">ЗАПИСЬ НА ПРИЕМ</span>
				<h2>Бесплатная консультация</h2>				
				<form action="/Home/SendEmail?page=Index" method="post" class="appointment">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<div class="select-wrap">
									<div class="icon"><span class="fa fa-chevron-down"></span></div>
									<select name="Service" required class="form-control">
										<option value="" selected>Выберите услугу</option>
										<option value="Замена масла и фильтров">Замена масла и фильтров</option>
										<option value="Замена и ремонт тормозной системы">Замена и ремонт тормозной системы</option>
										<option value="Диагностика и ремонт двигателя">Диагностика и ремонт двигателя</option>
										<option value="Ремонт и покраска кузова">Ремонт и покраска кузова</option>
										<option value="Замена и ремонт электрики">Замена и ремонт электрики</option>
										<option value="Другое">Другое</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" name="Name" required class="form-control" placeholder="Ваше имя">
								@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" id="PhoneNumber" required name="PhoneNumber" class="form-control" placeholder="Ваш номер телефона">
								@Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="col-md-6">
							<input type="date" name="Date" required class="form-control" placeholder="Дата">
							@Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="time" name="Time" required class="form-control" placeholder="Время">
								@Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="Message" cols="30" rows="7" class="form-control" placeholder="Сообщение"></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" value="Отправить" class="btn btn-dark">
							</div>
						</div>
					</div>
				</form>
				@if (TempData["SuccessMessage"] != null)
				{
					<div class="alert alert-success text-center">@TempData["SuccessMessage"]</div>
				}

				@if (TempData["ErrorMessage"] != null)
				{
					<div class="alert alert-danger text-center" style="color: red;">@TempData["ErrorMessage"]</div>
				}
				
			</div>
		</div>
	</div>
</section>

<div class="justify-content-center">
	<h2 class="text-center">Галерея</h2>
</div>

<div class="row no-gutters">
	<div class="col-md-3 ">
		<div class="work img d-flex" style="background-image: url(/images/work-1.jpg);">
			<a href="images/work-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
				<span class="fa fa-expand"></span>
			</a>
		</div>
	</div>
	<div class="col-md-3 ">
		<div class="work img d-flex" style="background-image: url(/images/work-2.jpg);">
			<a href="images/work-2.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
				<span class="fa fa-expand"></span>
			</a>

		</div>
	</div>
	<div class="col-md-3 ">
		<div class="work img d-flex" style="background-image: url(/images/work-3.jpg);">
			<a href="images/work-3.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
				<span class="fa fa-expand"></span>
			</a>
		</div>
	</div>

	<div class="col-md-3 ">
		<div class="work img d-flex" style="background-image: url(/images/work-4.jpg);">
			<a href="images/work-4.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
				<span class="fa fa-expand"></span>
			</a>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" asp-append-version="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js" asp-append-version="true"></script>
